* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* Container principal */
.menu-container {
    position: relative;
}

/* Ícone do menu */
.menu-icon {
    width: 30px;
    margin: 20px;
    cursor: pointer;
}

/* Título */
.menu-container > p {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

/* Menu lateral */
.menu {
    position: fixed;
    top: 0;
    left: -250px; /* Escondido por padrão */
    width: 250px;
    height: 100%;
    background-color: #111;
    color: white;
    list-style: none;
    padding-top: 60px;
    transition: left 0.3s ease;
}

.menu li {
    padding: 15px 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
}

/* Menu ativo (visível) */
.menu.active {
    left: 0;
}

h2 {
    margin: 20px;
}

@media (max-width: 768px) {
    .menu {
        width: 200px;
    }
}

card {
    position: relative;
    width: 380px;
    background: #fafafa;
    box-shadow: 0 2px 7px #dfdfdf;
}
.badge {
    position: absolute;
    background: #111;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    padding: 3px 10px;
}
.tumb{
    height: 300px;
    background: #f0f0f0;
    padding: 20px;
    display: grid;
    place-items: center;
}
.tumb img {
    max-width: 100%;
    max-height: 100%;
}

.detalis{
    padding: 30px;

}
.categoria{
    display: block;
    color: #ccc;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 18px;
}
h4 a {
    font-weight: 500;
    color: #363636;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}
h4 a :hover{
    color: #fbb72c;
}
p {
    color: #999;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
}
.bottom-detalis {
    overflow: hidden;
    border-color: 1px soid #eee;
    padding-top: 20px;

}
.bottom-detalis div {
    float: left;
    width: 50%;
}
.preço {
    color: #fbb72c;
    font-size: 18px;
    font-weight: 600;
}
small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 5px;
}
 .links {
    text-align: right;

 }

.links a {
    color: #e1e1e1;
    margin-left: 5px;
    transition: 0.3s;
    font-size: 17px;
}
.links a :hover {
    color: #fbb72c;
}
