.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1300px;
    }
.product {
    border:  1px solid #ddd;
    padding: 0px;
    text-align: center;
    border-radius: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product:hover{
    transform: translate(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);

}
.product img {
width: 100%;
height: 150px;
object-fit: cover;
margin-bottom: 10px;
border-radius: 5px;
}